.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    height: 25%;
    position: fixed;
    left: 0;
    top: 75px;
}

@media (min-width:500px) {
    .NavigationItems {
        flex-flow: row;
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
}